:root {
  --font-primary: "Slabo 27px", serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
header {
  position: relative;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: 1;
}
header h2 {
  text-align: center;
  margin-top: 4rem;
  font-family: var(--font-primary);
  color: #ffff;
  font-size: 26px;
  font-weight: 400;
  text-shadow: 0 0 10px black;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 0 24px;
}
.logo a {
  font-family: var(--font-primary);
  color: #ffff;
  font-size: 24px;
}
.social-media {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.social-media a i {
  color: #ffff;
  cursor: pointer;
  font-size: 22px;
}
main,
footer {
  display: grid;
  place-content: center;
  background-color: #e3e3e3;
}
.blog {
  font-family: var(--font-primary);
  margin: -10rem 1rem 2rem 1rem;
  z-index: 10;
  padding: 2rem;
  width: fit-content;
  background-color: #ffff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.wrapper {
  padding: 1rem 0;
  max-width: 840px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.wrapper a {
  display: flex;
  gap: 2rem;
  color: black;
  justify-content: space-between;
  align-items: start;
  transition: 0.3s ease-in;
}
.wrapper a:hover {
  color: #80807f;
}
.image-blog {
  width: 240px;
  height: 180px;
  object-fit: cover;
}
.image-blog img {
  width: inherit;
  height: inherit;
}
.content-blog h1 a {
  font-size: 27px;
}
.content-blog p {
  font-size: 16px;
}
.content-blog p:nth-child(n + 2) {
  margin-top: 1rem;
}
footer {
  font-family: var(--font-primary);
  padding-bottom: 2rem;
  font-size: 16px;
  color: #80807f;
}
@media (max-width: 768px) {
  .content-blog {
    width: 80%;
  }
  .blog {
    margin: -10rem 2rem 2rem 2rem;
  }
}
@media (max-width: 570px) {
  header h2 {
    font-size: 18px;
  }
  nav {
    justify-content: space-between;
  }
  .logo a {
    font-size: 18px;
  }
  .social-media a i {
    font-size: 16px;
  }
  .blog {
    padding: 1rem;
    margin: -10rem 1rem 2rem 1rem;
    border-radius: 5px;
  }
  .wrapper a {
    gap: 1rem;
  }
  .image-blog {
    width: 140px;
    height: 80px;
  }
  .content-blog {
    width: 70%;
  }
  .content-blog h1 {
    font-size: 1rem;
  }
  .content-blog p {
    font-size: 0.8rem;
  }
}
@media (max-width: 340px) {
  .wrapper a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  .image-blog {
    width: 100%;
    height: 50%;
  }
  .content-blog {
    width: 100%;
  }
}
